<div class="container">
    <h5 class=" d-flex justify-content-center">Añadir usuario</h5>
<div class="d-flex p-5 justify-content-center">
    <form id="formulario">
        <div class="col">
            <input hidden class="text" placeholder="id"> 
        </div>
        <div class="col">
            <input type="text" placeholder="Nombre"> 
        </div>
        <div class="col">
            <input type="text" placeholder="Apellido"> 
        </div>
        <div class="col">
            <input type="number" placeholder="Telefono"> 
        </div>
        <div class="col">
            <input type="text" placeholder="Usuario"> 
        </div>
        <div class="col">
            <input type="password" placeholder="Password"> 
        </div>
      <div>
        <button>Añadir usuario</button> 
      </div>
    </form>
    

</div>

</div>
